<div class="compromise">
  <h2><%= @compromise.title %></h2>
  <label>Description: </label><p><%= @compromise.description %></p>
  <div class="container">
      <label>Participants</label>
      <div class="row">
          <div class="col-lg-6">
              <% @participants[0...@participants.size/2 + 1].each do |participant| %>
                <span><%=participant.display_name%></span>
                <% if participant == @owner%>
                  <span><strong>owner</strong></span>
                <% end %>
              <% end %>
          </div>
          <div class="col-lg-6">
            <% @participants[1 - @participants.size/2...@participants.size].each do |participant| %>
              <span><%=participant.display_name%></span>
              <% if participant == @owner%>
                <span><strong>owner</strong></span>
              <% end %>
            <% end %>
          </div>
      </div>
      <div class="movie-options">
          <label>Cast your vote on the movies below</label>
          <div class="container sm-media">
              <div class="row">
                  <% @movie_suggestions.each do |movie| %>
                    <div id=movie-<%=movie.id%> class="col-xs-18 col-sm-6 col-md-3">
                      <%= render partial: 'movie_media_box', locals: { movie: movie, compromise: @compromise, participants: @participants, movies_showing: @movies_showing_on_compromise_screen} %>
                    </div>
                <% end %>

              </div><!--/row-->
          </div><!--/container -->
      </div>

  </div>
<div>
