<div class="container">
    <div class="page-header">
        <h3>
           <%=@compromise.title%>
        </h3>
    </div>
    <div>
        <label>
            Description:
        </label>
        <br>
        <span><%=@compromise.description%></span>
    </div>
    <div>
        <label>
            Participants:
        </label>
        <br>
    </div>
    <%@participants.each_with_index do |participant, index| %>
      <% if index % 3 == 0 %>
        <div class="row">
      <%end%>
      <div class="col-md-3">
          <span>
              <%=participant.display_name%>
          </span>
          <% if participant.id == @owner.id %>
          <label>owner</label>
            <%end%>
      </div>
      <% if index % 3 == 0 %>
        </div>
      <%end%>
    <%end%>
    <label>
        Movie suggestions. Please vote on the movies below. &nbsp;&nbsp;
    </label>
    <div class="row">
        <% @movie_suggestions.each do |movie| %>
          <div id="movie-<%=movie.id%>" class="col-xs-18 col-sm-4 col-md-4">
          <%= render partial: 'movie_media_box', locals: { movie: movie, compromise: @compromise} %>
          </div>
        <% end %>
    </div>
</div>