  <div class="media">
      <div class="media-left">
          <a href="/user/index?id=<%=friend.id%>">
            <img class="media-object" src="http://image.tmdb.org/t/p/w500//eZW5Rv0peoGrC0RY12lwzoLPwmx.jpg" alt="<%=friend.display_name%>">
          </a>
      </div>
      <div class="media-body">
          <a href="/user/index?id=<%=friend.id%>">
            <h4 class="media-heading">
                <%=friend.display_name%>
            </h4>
          </a>
          </br>
          </br>
          <%if button_disabled%>
            <a href="/user/friends_request?user=<%=friend.id%>&request_type=<%=request_type%>"  class="btn btn-warning disabled"><%=button_text%></a>
          <%else%>
            <a href="/user/friends_request?user=<%=friend.id%>&request_type=<%=request_type%>"  class="btn btn-<%=button_type%>"><%=button_text%></a>
          <%end%>
      </div>
  </div>
