<div class="sign-in col-md-5">
  <%= form_for(resource, as: resource_name, url: 'users/sign_in') do %>
    <h2><span class="entypo-login"></span> Sign In</h2>
    <button class="submit"><span class="entypo-lock"></span></button>
    <span class="entypo-mail inputEmailIcon"></span>
    <input class="user" name="user[email]" placeholder="E-Mail"/>
    <span class="entypo-key inputPassIcon"></span>
    <input type="password" name="user[password]" class="pass"placeholder="Password"/>
  <% end %>
  <div class="social-container">
    <div class="social-divide"><span>Login VIA</span></div>
      <div class="col-md-4">
        <%= link_to omniauth_authorize_path(resource_name, "facebook") do %>
            <%=show_svg("facebook-logo.svg")%>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to omniauth_authorize_path(resource_name, "google_oauth2") do %>
            <%=show_svg("google-plus.svg")%>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to omniauth_authorize_path(resource_name, "google_oauth2") do %>
            <%=show_svg("twitter-logo.svg")%>
        <% end %>
      </div>
    </div>
  </div>
<div class="or col-md-2">
  <h2>OR</h2>
</div>

<div class="sign-up col-md-5">
  <%= form_for(resource, as: resource_name) do %>
    <h2><span class="entypo-user-add"></span> Sign Up</h2>
    <button class="submit"><span class="entypo-lock"></span></button>
    <!--<span class="entypo-user inputUserIcon"></span>-->
    <!--<input class="user" name="user[display_name]" placeholder="Display Name"/>-->
    <span class="entypo-mail inputEmailIcon"></span>
    <input class="user" name="user[email]" placeholder="E-Mail"/>
    <span class="entypo-key inputPassIcon"></span>
    <input type="password" name="user[password]" class="pass" placeholder="Password"/>
  <% end %>
</div>
