<div class="signup-page">
    <div class="lb-header">
        <a href=<%=new_session_path(resource_name)%> id="login-box-link">Login</a>
        <a href=<%=new_registration_path(resource_name)%> class="active" id="signup-box-link">Sign Up</a>
    </div>
    <div class="social-login">
        <%= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, "facebook") %>
        <%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, "google_oauth2") %>
    </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "email-signup"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="u-form-group">
    <input placeholder="Email" type="email" value="" name="user[email]" id="user_email">
  </div>

  <% if @validatable %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <div class="u-form-group">
    <input placeholder="Password" type="password" name="user[password]" id="user_password">
  </div>

  <div class="u-form-group">
    <input placeholder="Confirm Password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
  </div>

  <div class="actions">
    <div class="u-form-group">
      <%= f.submit "Log in" %>
    </div>
  </div>

  <div class="u-form-group">
    <a href=<%=new_password_path(resource_name)%> class="forgot-password">Forgot password?</a>
  </div>
<% end %>
