<div class="search-result actor">
    <a href="/movie/index?id=<%=result.id%>" class="pull-left">
    <div class="media">
        <div class="media-left">
                <img class="media-object" src="http://image.tmdb.org/t/p/w500/<%=result.poster_path%>" alt="<%=result.title%>">
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <%=result.title%>
            </h4>
            <i><%=truncate(result.overview, length: 250)%></i>
        </div>
    </div>
    </a>
</div>
