<div class="login-page">
    <div class="lb-header">
        <a href="#" class="active" id="login-box-link">Login</a>
        <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <div class="social-login">
        <%= render "devise/shared/links" %>
    </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "email-login"}) do |f| %>
    <div class="field">
        <div class="u-form-group">
            <input placeholder="Email" type="email" value="" name="user[email]" id="user_email">
        </div>
    </div>

    <div class="u-form-group">
        <input placeholder="Password" type="password" name="user[password]" id="user_password">
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
        <div class="u-form-group">
            <%= f.submit "Log in" %>
        </div>
    </div>
  <% end %>

</div>
