<div class="container">
    <div class="movie-content">
        <img class="pull-left" src="https://s3.amazonaws.com/jetstrap-site/images/website/index/what_icon.png">
        <h3>
            <%=@movie.title%> (<%=@movie.release_date %>)
        </h3>
        <label>
            Runtime:
        </label>
        <span><%=@movie.runtime%> mins</span>
        <label>
            Rating:
        </label>
        <span><%=@movie.mpaa_rating%></span>
        <label>
            Audiance Score:
        </label>
        <span><%=@movie.audience_score%>%</span>
        <label>
            Critics Score:
        </label>
        <span><%=@movie.critics_score%>%</span>
        <label class="pull-right">
            You liked this movie
        </label>
        <hr>
        <p>
            <%=@movie.synopsis%>
        </p>
        <label>
            Stars:
        </label>
        <span>hello world, hello world2, hello world 3</span>
    </div>
    <a href="#" class="btn btn-default">Watch Trailer</a>
    <br>
    <label>
        Friends who like this movie
    </label>
    <br>
    <span>look at all these cool people who like this movie, this will be their images with their name next to it</span>
    <br>
    <label>
        Where to find this movie
    </label>
    <br>
    <span>Netflix's: <i class="glyphicon glyphicon-ok-circle"></i></span>
    <a href="#">Watch on netflix's now</a>
    <br>
    <span>Hulu: <i class="glyphicon glyphicon-ban-circle"></i></span>
    <br>
    <label>
        Full Cast
    </label>
    <div class="media">
        <div class="media-left">
            <a href="#" class="pull-left">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#" class="pull-left">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#" class="pull-left">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <label>
        Similar Movies
    </label>
    <div class="media">
        <div class="media-left">
            <a href="#" class="pull-left">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#" class="pull-left">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#" class="pull-left">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
</div>